---
# ------------------------------------------------------------
# Ansible Variables Demo Playbook
# ------------------------------------------------------------
# Demonstrates:
# 1. Variables inside playbook
# 2. Variables from vars file
# 3. Runtime variables (-e)
# 4. Registered variables
# ------------------------------------------------------------

- name: Ansible Variables Demonstration
  hosts: azure_vm
  become: true

  # ---------------------------
  # Variables defined INSIDE playbook
  # ---------------------------
  vars:
    main_playbook_variable: "foo"
    is_enabled: false

    fruits:
      - apple
      - banana
      - orange

    fruit_prices:
      apple: 0.5
      banana: 0.25
      orange: 0.75

    fruit_basket:
      - name: John
        fruits:
          - apple
          - orange
      - name: Jane
        fruits:
          - banana
          - apple
          - orange

  # ---------------------------
  # Variables from external file
  # ---------------------------
  vars_files:
    - ../roles/ansible-variables/vars/main.yaml

  roles:
    - ansible-variables
